.profile-grid {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas: ' prHead main main '
						 ' prDesc main main '
						 ' ... rev rev ';
	text-align: left;
}
.profile-description {
	border: 1px solid #eee;
	grid-area: prDesc;
	padding: 10px 20px;
}
.profile-main {
	border: 1px solid #eee;
	display: inline-block;
	grid-area: main;
	text-align: center;
	padding: 10px 20px;
}
.profile-reviews {
	border: 1px solid #eee;
	grid-area: rev;
	padding: 10px 20px;
}
