.filter-container {
	background: rgba(100, 100, 100, 0.1);
	display: inline-flex;
	padding: 2vh 0;
	width: 100%;
}
.filter-container div {
	margin: 0 auto;
}
.card-container {
	in-height: 54vh;
}
.categories-box {
	display: inline-flex;
	padding: 2vh 15%;
	width: 70%;
}
.categories-btn {
	background: white;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0 auto;
	padding: 2px 4px;
}

.head {
	padding: 2vh 0 5vh 0;
} 
.big-search-form {
	border: 2px solid #eee;
	border-radius: 4px;
	display: inline-flex;
	margin: 0 auto;
}
.big-search-form select {
	border: none;
	font-size: 18px !important;
	text-align: center;
}
.big-search-bar {
	border: none;
	box-sizing: border-box;
	color: #999;
	font-size: 20px;
	padding: 8px 1%;
	width: 400px;
}
.big-search-submit {
	border: none;
	box-sizing: border-box;
	border-left: 1px solid #eee;
	border-radius: 0;
	font-size: 20px;
	margin-left: auto;
	padding: 0 20px;
}
.big-search-submit:hover {
	background: none;
	border: none;
	border-left: 1px solid silver;
}


.big-search-more {
	color: orange;
	cursor: pointer;
	margin-left: 500px;
}
.filter-menu {
	box-sizing: border-box;
	display: inline-block;
	margin: 10px 0;
	transition: all 0.3s ease;
	width: 100%;
}
.filter-menu-open {
	transition: all 0.3s ease;
}
.filter-menu-box {
	display: inline-flex;
	margin: 30px auto;
}
.filter-menu-circle {
	background: #eee9de;
	border-radius: 50%;
	box-shadow: 0px 0px 6px 1px silver;
	cursor: pointer;
	height: 70px;
	margin: 0 20px;
	overflow: hidden;
	position: relative;
	width: 70px;
}
.filter-menu-circle:hover {
	box-shadow: 0px 0px 6px 1px #999;
}
.filter-menu-circle div {
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-top: 20px;
	position: relative;
	text-shadow: 0px 0px 5px #555;
	z-index: 1;
}
.filter-menu-circle .fa-leaf {
	color: rgba(100, 200, 100, 0.5);
	font-size: 60px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.filter-menu-max-d {
	border: 2px solid orange;
	border-radius: 4px;
	color: orange;
	display: inline;
	font-weight: 600;
	padding: 50px 20px;
}

.filter-menu-max-d legend {
}


.border {	/* test */
	border: 1px solid black;
}