.gig-grid {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas: ' main main prHead '
						 ' main main loc '
						 ' rev rev ... ';
	text-align: left;
}
.gig-head {
	border: 1px solid #eee;
	display: inline-flex;
	grid-area: ghead;
}
.gig-head div {
	padding: 0;
	text-align: center;
	width: 33%;
}
.gig-main {
	border: 1px solid #eee;
	grid-area: main;
	position: relative;
	padding: 10px 20px;
}
.gig-main-image {
	background: #eee;
	height: 300px;
	margin: 6% auto;
	width: 80%;
}
.gig-main-desc {
	box-sizing: border-box;
	display: inline-table;
	width: 50%;
}
.gig-title {
	text-align: center;
}
.gig-reviews {
	border: 1px solid #eee;
	grid-area: rev;
	padding: 10px 20px;
}
.gig-location {
	border: 1px solid #eee;
	grid-area: loc;
	padding: 10px 20px;
}
.gig-location div {
	height: 260px;
	margin-bottom: 6px;
}
