.gig-grid {
	display: grid;
	grid-template-rows: auto auto 40vh auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px 40px;
	grid-template-areas: ' ghead ghead ghead '
						 ' main main short '
						 ' main main prHead '
						 ' desc desc ... '
						 ' rev rev ... ';
	text-align: left;
}
.gig-grid div {
	padding: 10px 20px;
}
.gig-head {
	border: 1px solid #eee;
	display: inline-flex;
	grid-area: ghead;
	padding: 0;
	margin-bottom: -16px;
}
.gig-head div {
	padding: 0;
	text-align: center;
	width: 33%;
}
.gig-main {
	border: 1px solid #eee;
	grid-area: main;
	position: relative;
}
.gig-main-image {
	background: #eee;
	height: 300px;
	margin: 6% auto;
	width: 80%;
}
.gig-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 14px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.gig-description {
	border: 1px solid #eee;
	grid-area: desc;
}
.gig-reviews {
	border: 1px solid #eee;
	grid-area: rev;
}
.gig-short {
	border: 1px solid #eee;
	grid-area: short;
}
