.msgs-select {
	border: 1px solid silver;
}
.msgs-select div {
	border: 1px solid #eee;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	padding: 5px;
	width: 50%;
}
.msgs-select-active {
	border-bottom: 2px solid orange !important;
	font-weight: bold;
}
