.msgs-select {
	border: 1px solid silver;
}
.msgs-select div {
	border: 1px solid #eee;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	padding: 5px;
	width: 50%;
}
.msgs-select-active {
	border-bottom: 2px solid orange !important;
	font-weight: bold;
}

.msg-box {
	border: 1px solid silver;
	border-radius: 3px;
	color: #555;
	padding: 3px 5px;
	text-align: left;
	transition: all 0.3s ease;
}
.msg-box-new {
	border: 1px solid #227777;
	text-align: left;
}
.msg-box-active {
}
.msg-box-active .msg-box-text {
	color: #555;
	height: auto;
	max-height: 500px;
}
.msg-box-name {
	display: flex;
	font-weight: bold;
	width: 40%;
}
.msg-box-text {
	color: silver;
	max-height: 23px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.msg-box-date {
	color: #999;
	display: flex;
	font-weight: normal;
	text-align: right;
	width: 40%;
}
