.msg-box {
	border: 1px solid silver;
	border-radius: 3px;
	color: #555;
	padding: 10px 5px;
	position: relative;
	text-align: left;
	transition: all 0.3s ease;
}
.msg-box-new {
	border: 1px solid #227777;
	text-align: left;
}
.msg-box-active {
}
.msg-box-active .msg-box-text {
	color: #555;
	height: auto;
	max-height: 500px;
}
.msg-box-name {
	display: flex;
	font-weight: bold;
	width: 40%;
}
.msg-box-text {
	color: silver;
	max-height: 23px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.msg-box-date {
	color: #999;
	display: flex;
	font-weight: normal;
	text-align: right;
	width: 40%;
} 

.msg-box textarea {
	box-sizing: border-box;
	display: flex;
	margin: 10px auto;
	width: 100%;
} 
.msg-box button {
	display: flex;
	margin: 0 auto;
} 